/* Contains the styling for the default page view displaying the contact information */

$box-width: 300px;
$box-height: 400px;

/* Styling and animations for the SVG box */
@import 'default/box';

/* Styling and animation for the big initial */
@import 'default/initial';

/* Styling and animtion for my contact info */
@import 'default/contact-info';

/* Styling and animation for the social media tabs */
@import 'default/social-media';

/* Shadow overlay */
#smokescreen {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -100;
	position: fixed;

	background: rgba(25,25,25,0);

	transition: all 0.5s 0.0s;
}

#smokescreen.active {
	z-index: 0;
	background: rgba(255, 249, 239, 1);
}