@import 'variables';

@import 'normalize';
@import 'default';

body {
    text-align: center;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
	position: fixed;

	background: url('../images/background.jpg') center center fixed;
    background-color: #333;
    background-size: cover;
    background-repeat: no-repeat;

	transition: all 0.4s 0.5s;
}