/* Large Initial */
#name-box {
	width: 100%;
	min-width: $box-width;
	
	height: auto;
	min-height: 60px;

	margin: 0px auto;
	z-index: 100;

	top: 5px;
	left: 0;
	right: 0;  
	position: absolute;

	.initial {
		width: 100%;
	    height: auto;
		margin: 20px auto 0 auto;

		color: $primary-color;
		font-size: 180px;
		font-weight: 400;
		line-height: 180px;
	    font-family: "KaiTi", "楷体", STKaiti, "华文楷体", serif;

	    cursor: pointer;
		transition: 0.5s 0.0s;

		left: 0;
		right: 0;
		position: absolute;
	}
	
	&.active {
		.initial {
			font-size: 50px;
		    line-height: 50px;

			width: 100%;
			margin: 0 0 0 10px;

			top: -150px;

			transition: 0.5s 0.0s;
		}
	}
}