/* Backdrop for the active state */
/* Shadow overlay */
#smokescreen {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -100;
	position: fixed;

	background: rgba(25,25,25,0);

	transition: all 0.5s 0.0s;

	&.active {
		z-index: 0;
		background: rgba(255, 249, 239, 1);
	}
}